<nav class="navbar navbar-light bg-light">
  <a href="/" class="navbar-brand font-weight-bold">Blog Handlebars</a>
  <a href="#" class="btn btn-primary">Novo Post</a>
  <a href="#" class="btn btn-primary">Novo Autor</a>
</nav>