<div class="container">
  <br>
  <div class="card">
    <div class="card-body">
      <h2 class="card-title">Título</h2>
      <p class="card-subtitle text-muted">Subtítulo</p>
      <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus consectetur possimus architecto saepe esse eius eligendi culpa asperiores hic illum cumque molestias cum quaerat fugit voluptates reprehenderit error, consequuntur iure.</p>
      <a href="#" class="card-link">Ler mais...</a>
    </div>
  </div>  
  <br>
  <div class="card">
    <div class="card-body">
      <h2 class="card-title">Título</h2>
      <p class="card-subtitle text-muted">Subtítulo</p>
      <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus consectetur possimus architecto saepe esse eius eligendi culpa asperiores hic illum cumque molestias cum quaerat fugit voluptates reprehenderit error, consequuntur iure.</p>
      <a href="#" class="card-link">Ler mais...</a>
    </div>
  </div>  
  <br>
  <div class="card">
    <div class="card-body">
      <h2 class="card-title">Título</h2>
      <p class="card-subtitle text-muted">Subtítulo</p>
      <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus consectetur possimus architecto saepe esse eius eligendi culpa asperiores hic illum cumque molestias cum quaerat fugit voluptates reprehenderit error, consequuntur iure.</p>
      <a href="#" class="card-link">Ler mais...</a>
    </div>
  </div>  
</div>