<div class="container">
  <hr>
  <div class="card">
    <div class="card-header">
      <h5>Novo autor</h5>
    </div>
    <div class="card-body">
      <form method="POST" action="/author/save" onsubmit="checkName(event, this)">
        <input class="form-control" type="text" id="author" name="author" placeholder="Nome *"><br>
        <p style="color: red; font-size: 0.6rem"><strong>(*) Campo obritagório</strong></p>
        <button class="btn btn-success">Salvar</button>
      </form>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h5>Autores cadastrados</h5>
    </div>
    <div class="card-body">
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Contato</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
            {{#each authors}}
            <tr>
              <td>{{this.id}}</td>
              <td>{{this.name}}</td>
              <td>admin@blog.com.br</td>
              <td>Editar | Excluir</td>
            </tr>
            {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
  function checkName(event, form) {
    event.preventDefault();
    let name = document.getElementById('author')
    if (name.value !== '') {
      form.submit();
    } else {
      alert('Escolha um nome!')
    }
  }
</script>